{% extends 'admin/base.html.twig' %}

{% block title 'Compte : ' ~ user.username %}

{% block admin %}
    <div class="container-fluid">
        <h1>{{ user.username }}</h1>

        {% include '/_flash_message.html.twig' %}

        <p><a href="{{ path('admin_user_index') }}">Retour à la liste</a></p>

        <ul class="list-group">
            {% for role in user.roles %}
                <li>{{ role }}</li>
            {% endfor %}
        </ul>

        <a href="{{ path('admin_user_edit', {id: user.id}) }}" class="btn btn-primary mb-2">Modifier</a>
        {% if is_granted('ROLE_ADMIN') %}
            {{ include('admin/user/_delete_form.html.twig', {table: false}) }}
        {% endif %}
    </div>
{% endblock %}
