{% extends 'base.html.twig' %}

{% block title 'Espece : ' ~ espece.nom %}
{% block body %}
    <div class="container-fluid">
        <h1>{{ espece.nom }}</h1>

        <p class="lead">Statistiques</p>
        {#        TODO Affichage pie chart#}
        <p>Parité maîtres / maîtresses : {{ parite.hommes }}<i class="fas fa-male"></i> | {{ parite.femmes }}<i
                    class="fas fa-female"></i>
        </p>

        <hr/>

        <h2>Liste des animaux</h2>

        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Nom</th>
                        <th scope="col">Age</th>
                        <th scope="col">Maître(s)</th>
                    </tr>
                </thead>
                <tbody>
                    {% for animal in espece.animaux %}
                        <tr>
                            <td>
                                <a href="{{ path('animal_show', {id: animal.id}) }}">{{ animal.nom }}</a>
                            </td>
                            <td>{{ animal.age }}</td>
                            <td>
                                <ul class="list-unstyled">
                                    {% for maitre in animal.maitres %}
                                        <li>
                                            <a href="{{ path('personne_show', {id: maitre.id}) }}">{{ maitre.nom }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
