{% extends 'base.html.twig' %}

{% block title 'Tous les animaux' %}

{% block body %}
    <div class="container-fluid">
        <h1>Tous les animaux</h1>
        <div class="row">
            {% for animal in animaux %}
                <div class="col-6 col-md-4 col-lg-3 my-2">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">{{ animal.nom }}</h5>
                            <p class="card-text">{{ animal.espece.nom }}
                                de {{ animal.age }} {{ animal.age > 1 ? 'ans':'an' }}</p>
                            <a href="{{ path('animal_show', {id: animal.id}) }}" class="btn btn-primary">Voir
                                l'animal</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

        <div class="row d-flex justify-content-center">
            <div class="pagination">
                {{ knp_pagination_render(animaux) }}
            </div>
        </div>
    </div>
{% endblock %}
