<nav class="navbar navbar-expand-lg navbar-dark bg-secondary mb-3">
    <a class="navbar-brand" href="{{ path('admin_index') }}">Espace d'administration</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarAdmin"
            aria-controls="navbarAdmin" aria-expanded="false" aria-label="Menu admin">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarAdmin">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a href="{{ path('admin_index') }}"
                   class="nav-link {{ adminPage == 'accueil' ? 'active' }}">Accueil</a>
            </li>
            <li class="nav-item">
                <a href="{{ path('admin_espece_index') }}"
                   class="nav-link {{ adminPage == 'espece' ? 'active' }}">Espèces</a>
            </li>
            <li class="nav-item">
                <a href="{{ path('admin_animal_index') }}"
                   class="nav-link {{ adminPage == 'animal' ? 'active' }}">Animaux</a>
            </li>
            <li class="nav-item">
                <a href="{{ path('admin_personne_index') }}"
                   class="nav-link {{ adminPage == 'personne' ? 'active' }}">Personnes</a>
            </li>
            <li class="nav-item">
                <a href="{{ path('admin_adresse_index') }}"
                   class="nav-link {{ adminPage == 'adresse' ? 'active' }}">Adresses</a>
            </li>
        </ul>
    </div>
</nav>