{% extends 'admin/base.html.twig' %}

{% block title 'Espace d\'administration' %}
{% block admin %}
    <div class="container-fluid">
        <h1>Espace d'administration</h1>
        <div class="row d-flex flex-wrap">
            <div class="col-12 col-sm-6 col-md-4 my-2">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Espèces</h5>
                        <p class="card-text">Cliquez ci-dessous pour accéder à la liste des espèces.</p>
                        <a href="{{ path('admin_espece_index') }}" class="btn btn-primary">Gérer</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4 my-2">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Animaux</h5>
                        <p class="card-text">Cliquez ci-dessous pour accéder à la liste des animaux.</p>
                        <a href="{{ path('admin_animal_index') }}" class="btn btn-primary">Gérer</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4 my-2">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Personnes</h5>
                        <p class="card-text">Cliquez ci-dessous pour accéder à la liste des personnes.</p>
                        <a href="{{ path('admin_personne_index') }}" class="btn btn-primary">Gérer</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4 my-2">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Adresses</h5>
                        <p class="card-text">Cliquez ci-dessous pour accéder à la liste des adresses.</p>
                        <a href="{{ path('admin_adresse_index') }}" class="btn btn-primary">Gérer</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4 my-2">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Utilisateurs</h5>
                        <p class="card-text">Cliquez ci-dessous pour accéder à la liste des utilisateurs.</p>
                        <a href="{{ path('admin_user_index') }}" class="btn btn-primary">Gérer</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
