{% extends 'base.html.twig' %}

{% block title 'Personne : ' ~ personne.nom %}

{% block body %}
    <div class="container-fluid">
        <h1>{{ personne.nom }}</h1>

        <h2>Informations générales</h2>

        <p>Sexe : {{ personne.sexe == 'M' ? 'Homme' : 'Femme' }}</p>
        <p>Adresse :
            <a href="{{ path('adresse_show', {id: personne.adresse.id}) }}">{{ personne.adresse.intitule }}</a>
        </p>

        <h2>Liste des animaux</h2>

        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Nom</th>
                        <th scope="col">Espèce</th>
                        <th scope="col">Age</th>
                        <th scope="col">Maître(s)</th>
                    </tr>
                </thead>
                <tbody>
                    {% for animal in personne.animaux %}
                        <tr>
                            <td>
                                <a href="{{ path('animal_show', {id: animal.id}) }}">{{ animal.nom }}</a>
                            </td>
                            <td>
                                <a href="{{ path('espece_show', {id: animal.espece.id}) }}">{{ animal.espece.nom }}</a>
                            </td>
                            <td>{{ animal.age }}</td>
                            <td>
                                <ul class="list-unstyled">
                                    {% for maitre in animal.maitres %}
                                        <li>
                                            <a href="{{ path('personne_show', {id: maitre.id}) }}">{{ maitre.nom }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
