{% extends 'base.html.twig' %}

{% block title 'Adresse : ' ~ adresse.intitule %}

{% block body %}
    <div class="container-fluid">
        <h1>{{ adresse.intitule }}</h1>

        <h2>Informations</h2>

        <p>Moyenne d'âge des animaux vivant à cette adresse : <strong>{{ moyenneAge }} ans</strong></p>

        <h2>Liste des habitant</h2>

        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Nom</th>
                        <th scope="col">Sexe</th>
                        <th scope="col">Animaux</th>
                    </tr>
                </thead>
                <tbody>
                    {% for personne in adresse.personnes %}
                        <tr>
                            <td>
                                <a href="{{ path('personne_show', {id: personne.id}) }}">{{ personne.nom }}</a>
                            </td>
                            <td>{{ personne.sexe == 'M' ? 'Homme' : 'Femme' }}</td>
                            <td>
                                <ul class="list-unstyled mb-0">
                                    {% for animal in personne.animaux %}
                                        <li>
                                            <table class="table table-striped">
                                                <thead>
                                                    <tr>
                                                        <th scope="col">Nom</th>
                                                        <th scope="col">Espèce</th>
                                                        <th scope="col">Âge</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            <a href="{{ path('animal_show', {id: animal.id}) }}">{{ animal.nom }}</a>
                                                        </td>
                                                        <td>
                                                            {% if animal.espece %}
                                                                <a href="{{ path('espece_show', {id: animal.espece.id}) }}">{{ animal.espece.nom }}</a>
                                                            {% endif %}
                                                        </td>
                                                        <td>{{ animal.age }}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
