{% extends 'base.html.twig' %}

{% block title %}Espece index{% endblock %}

{% block body %}
    <h1>Espece index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
            {% for espece in especes %}
                <tr>
                    <td>{{ espece.id }}</td>
                    <td>{{ espece.nom }}</td>
                    <td>
                        <a href="{{ path('admin_espece_show', {'id': espece.id}) }}">show</a>
                        <a href="{{ path('admin_espece_edit', {'id': espece.id}) }}">edit</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3">no records found</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('admin_espece_new') }}">Create new</a>
{% endblock %}
