{% extends 'admin/base.html.twig' %}

{% block title %}Espece{% endblock %}

{% block admin %}
    <h1>Espece</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ espece.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ espece.nom }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('admin_espece_index') }}">back to list</a>

    <a href="{{ path('admin_espece_edit', {'id': espece.id}) }}">edit</a>

    {{ include('admin/espece/_delete_form.html.twig') }}
{% endblock %}
