{% extends 'admin/base.html.twig' %}

{% block title 'Espece : ' ~ espece.nom %}

{% block admin %}
    <div class="container-fluid">
        <h1>{{ espece.nom }}</h1>

        <p><a href="{{ path('admin_espece_index') }}">Retour à la liste</a></p>
        <a href="{{ path('admin_espece_edit', {id: espece.id}) }}" class="btn btn-primary mb-2">Modifier</a>
        {% if is_granted('ROLE_ADMIN') and espece.animaux | length == 0 %}
            {{ include('admin/espece/_delete_form.html.twig', {table: false}) }}
        {% endif %}

        <h2>Statistiques</h2>
        <div class="row">
            <div class="col-3">
                <canvas id="parite" width="50" height="50" data-parite="{{ parite|json_encode }}"></canvas>
            </div>
        </div>

        <hr/>

        <h2>Liste des animaux</h2>

        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Nom</th>
                        <th scope="col">Age</th>
                        <th scope="col">Maître(s)</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for animal in espece.animaux %}
                        <tr>
                            <td>
                                <a href="{{ path('animal_show', {id: animal.id}) }}">{{ animal.nom }}</a>
                            </td>
                            <td>{{ animal.age }}</td>
                            <td>
                                <ul class="list-unstyled mb-0">
                                    {% for maitre in animal.maitres %}
                                        <li>
                                            <a href="{{ path('personne_show', {id: maitre.id}) }}">{{ maitre.nom }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </td>
                            <td class="d-flex">
                                <a href="{{ path('admin_animal_show', {id: animal.id}) }}" class="btn btn-link">
                                    <i class="fas fa-eye"></i>
                                </a>
                                <a href="{{ path('admin_animal_edit', {id: animal.id}) }}" class="btn btn-link">
                                    <i class="fas fa-pencil-alt"></i>
                                </a>
                                {% if is_granted('ROLE_ADMIN') %}
                                    {{ include('admin/animal/_delete_form.html.twig', {table: true}) }}
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>

    <script>
        const pariteChart = $('#parite');
        const parite = pariteChart.data('parite');

        const ctx = document.getElementById('parite').getContext('2d');

        const myChart = new Chart(ctx, {
            type: 'pie',
            data: {
                labels: ['Maîtres', 'Maitresses'],
                datasets: [{
                    label: 'Parité',
                    data: [parite.hommes, parite.femmes],
                    backgroundColor: [
                        'rgba(120, 194, 173, 0.5)',
                        'rgba(243, 150, 154, 0.5)',
                    ],
                    borderColor: [
                        'rgba(120, 194, 173, 1)',
                        'rgba(243, 150, 154, 1)',
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                title: {
                    display: true,
                    text: ['Parité maîtres / maîtresses', 'Total : ' + parite.total],
                }
            }
        });
    </script>
{% endblock %}
