{% extends 'admin/base.html.twig' %}

{% block title 'Toutes les personnes' %}

{% block admin %}
    <div class="container-fluid">
        <h1>Liste des personnes</h1>

        {% include '/_flash_message.html.twig' %}

        {% include '/search_forms/_form_personne.html.twig' %}

        <a href="{{ path('admin_personne_new') }}" class="btn btn-primary mb-2">Ajouter une personne</a>

        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Sexe</th>
                        <th>Âge</th>
                        <th>Adresse</th>
                        <th>Animaux</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for personne in personnes %}
                        <tr>
                            <td>{{ personne.nom }}</td>
                            <td>{{ personne.sexe == 'M' ? 'Homme' : 'Femme' }}</td>
                            <td>{{ personne.age }}</td>
                            <td>
                                {% if personne.adresse %}
                                    <a href="{{ path('admin_adresse_show', {id: personne.adresse.id}) }}">
                                        {{ personne.adresse.intitule }}
                                    </a>
                                {% endif %}
                            </td>
                            <td>
                                <ul class="list-unstyled mb-0">
                                    {% for animal in personne.animaux %}
                                        <li>
                                            <a href="{{ path('admin_animal_show', {id: animal.id}) }}">
                                                {{ animal.nom }}
                                            </a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </td>
                            <td class="d-flex">
                                <a href="{{ path('admin_personne_show', {id: personne.id}) }}" class="btn btn-link">
                                    <i class="fas fa-eye"></i>
                                </a>
                                <a href="{{ path('admin_personne_edit', {id: personne.id}) }}" class="btn btn-link">
                                    <i class="fas fa-pencil-alt"></i>
                                </a>
                                {% if is_granted('ROLE_ADMIN') %}
                                    {{ include('admin/personne/_delete_form.html.twig', {table: true}) }}
                                {% endif %}
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="6">Aucune personne trouvée</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="row d-flex justify-content-center">
            <div class="pagination">
                {{ knp_pagination_render(personnes) }}
            </div>
        </div>
    </div>
{% endblock %}
