{% extends 'admin/base.html.twig' %}

{% block title %}Personne{% endblock %}

{% block admin %}
    <h1>Personne</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ personne.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ personne.nom }}</td>
            </tr>
            <tr>
                <th>Sexe</th>
                <td>{{ personne.sexe }}</td>
            </tr>
            <tr>
                <th>Age</th>
                <td>{{ personne.age }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('admin_personne_index') }}">back to list</a>

    <a href="{{ path('admin_personne_edit', {'id': personne.id}) }}">edit</a>

    {{ include('admin/personne/_delete_form.html.twig') }}
{% endblock %}
