{% extends 'admin/base.html.twig' %}

{% block title 'Adresse : ' ~ adresse.intitule %}

{% block admin %}
    <div class="container-fluid">
        <h1>{{ adresse.intitule }}</h1>

        {% include '/_flash_message.html.twig' %}

        <p><a href="{{ path('admin_adresse_index') }}">Retour à la liste</a></p>

        <a href="{{ path('admin_adresse_edit', {id: adresse.id}) }}" class="btn btn-primary mb-2">Modifier</a>

        {% if is_granted('ROLE_ADMIN') and adresse.personnes | length == 0 %}
            {{ include('admin/adresse/_delete_form.html.twig', {table: false}) }}
        {% endif %}

        <h2>Liste des habitant</h2>

        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Nom</th>
                        <th scope="col">Sexe</th>
                        <th scope="col">Âge</th>
                        <th scope="col">Animaux</th>
                    </tr>
                </thead>
                <tbody>
                    {% for personne in adresse.personnes %}
                        <tr>
                            <td>
                                <a href="{{ path('admin_personne_show', {id: personne.id}) }}">{{ personne.nom }}</a>
                            </td>
                            <td>{{ personne.sexe == 'M' ? 'Homme' : 'Femme' }}</td>
                            <td>{{ personne.age }}</td>
                            <td>
                                <ul class="list-unstyled mb-0">
                                    {% for animal in personne.animaux %}
                                        <li>
                                            <table class="table table-striped">
                                                <thead>
                                                    <tr>
                                                        <th scope="col">Nom</th>
                                                        <th scope="col">Espèce</th>
                                                        <th scope="col">Âge</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            <a href="{{ path('admin_animal_show', {id: animal.id}) }}">{{ animal.nom }}</a>
                                                        </td>
                                                        <td>
                                                            {% if animal.espece %}
                                                                <a href="{{ path('admin_espece_show', {id: animal.espece.id}) }}">{{ animal.espece.nom }}</a>
                                                            {% endif %}
                                                        </td>
                                                        <td>{{ animal.age }}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
