{% extends 'base.html.twig' %}

{% block title '[' ~ status_code ~ '] ' ~ status_text | trans %}

{% block stylesheets %}
    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:200,400,700" rel="stylesheet">

    <!-- Custom stlylesheet -->
    <link type="text/css" rel="stylesheet"
          href="{{ asset('/colorlib-error-404-4/css/style.css') }}?{{ date().timestamp }}"/>
{% endblock %}

{% block body %}
    <div id="notfound">
        <div class="notfound">
            <div class="notfound-404">
                <h1>Oops!</h1>
                <h2>{{ status_code }} - {{ status_text | trans }} !</h2>
            </div>
            <a href="{{ path('index') }}" class="btn btn-primary btn-lg">Retourner à l'accueil</a>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
{% endblock %}
